@tailwind base;
@tailwind components;

.btn {
  @apply inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium disabled:opacity-75 disabled:cursor-wait;
}

.btn-primary {
  @apply text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

.btn-secondary {
  @apply text-white bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

.btn-white {
  @apply  bg-white  border-gray-300 text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}

.btn-discord {
  @apply w-full flex items-center space-x-3 justify-center px-8 py-3 border-2 border-transparent text-base font-medium rounded-md bg-transparent border-gray-500 text-gray-50 hover:text-white hover:border-gray-100 transition-colors md:py-3 md:text-lg md:px-6;
}

@tailwind utilities;


.formkit-messages[aria-live=assertive]{
  display: none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local("Inter Light"), local("Inter-Light"),
    url("@/assets/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"),
    url("@/assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local("Inter Medium"), local("Inter-Medium"),
    url("@/assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("@/assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter Bold"), local("Inter-Bold"),
    url("@/assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local("Inter Black"), local("Inter-Black"),
    url("@/assets/fonts/Inter-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 300;
  src: local("Chakra Petch"), local("Chakra-Petch"),
    url("@/assets/fonts/ChakraPetch-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  src: local("Chakra Petch"), local("Chakra-Petch"),
    url("@/assets/fonts/ChakraPetch-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 500;
  src: local("Chakra Petch"), local("Chakra-Petch"),
    url("@/assets/fonts/ChakraPetch-Medium.ttf") format("truetype");
}


@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 600;
  src: local("Chakra Petch"), local("Chakra-Petch"),
    url("@/assets/fonts/ChakraPetch-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  src: local("Chakra Petch"), local("Chakra-Petch"),
    url("@/assets/fonts/ChakraPetch-Bold.ttf") format("truetype");
}