@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-discord {
  @apply w-full flex items-center space-x-3 justify-center px-8 py-3 border-2 border-transparent text-base font-medium rounded-md bg-transparent border-gray-500 text-gray-50 hover:text-white hover:border-gray-100 transition-colors md:py-3 md:text-lg md:px-6;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local("Inter Light"), local("Inter-Light"),
    url("@/assets/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), local("Inter-Regular"),
    url("@/assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local("Inter Medium"), local("Inter-Medium"),
    url("@/assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("@/assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter Bold"), local("Inter-Bold"),
    url("@/assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local("Inter Black"), local("Inter-Black"),
    url("@/assets/fonts/Inter-Black.ttf") format("truetype");
}

